{% extends "base_generic.html" %}

{% block title %}Verify Email{% endblock %}

{% block content %}
<div class="container">
    <h2>Подтвердите свой адрес электронной почты</h2>
    <p>Пожалуйста, введите 6-значный код, отправленный на ваш электронный адрес:</p>
    <h4>{{ error }}</h4>
    <form method="post" id="verification-form">
        {% csrf_token %}
        <div class="code-inputs">
            <input type="text" id="code1" maxlength="1" class="code-input" required>
            <input type="text" id="code2" maxlength="1" class="code-input" required>
            <input type="text" id="code3" maxlength="1" class="code-input" required>
            <input type="text" id="code4" maxlength="1" class="code-input" required>
            <input type="text" id="code5" maxlength="1" class="code-input" required>
            <input type="text" id="code6" maxlength="1" class="code-input" required>
        </div>
        <input type="hidden" name="code" id="code">
        <button type="submit">Подтвердить</button>
    </form>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        const codeInputs = document.querySelectorAll(".code-input");
        const hiddenCodeInput = document.getElementById("code");

        codeInputs.forEach((input, index) => {
            input.addEventListener("input", () => {
                if (input.value.length === 1 && index < codeInputs.length - 1) {
                    codeInputs[index + 1].focus();
                }
                updateHiddenCodeInput();
            });

            input.addEventListener("keydown", (event) => {
                if (event.key === "Backspace" && input.value.length === 0 && index > 0) {
                    codeInputs[index - 1].focus();
                }
            });
        });

        function updateHiddenCodeInput() {
            let codeValue = "";
            codeInputs.forEach(input => {
                codeValue += input.value;
            });
            hiddenCodeInput.value = codeValue;
        }
    });
</script>

<style>
/* Добавим стили для центрирования и красивого отображения */
.container {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 600px;
    max-width: 100%;
    text-align: center;
    margin-top: 50px;
}

.code-inputs {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.code-input {
    width: 50px;
    height: 50px;
    font-size: 24px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 5px;
}

.code-input:last-child {
    margin-right: 0;
}

form button {
    background-color: #6a11cb;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: #2575fc;
}

h4 {
    color: #ff3d3d;
}
</style>

{% endblock %}
